registry=https://pkgs.dev.azure.com/VTSMIS/_packaging/CCHP.VTS/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/VTSMIS/_packaging/CCHP.VTS/npm/registry/:username=VTSMIS
//pkgs.dev.azure.com/VTSMIS/_packaging/CCHP.VTS/npm/registry/:_password=MnVnN21zYnUzM3ZyaTdxNGFpNGJ1aHJzdHR4ZGFoZnBqdWhlcXd5N3dkMjJyY2h3eGI1YQ==
//pkgs.dev.azure.com/VTSMIS/_packaging/CCHP.VTS/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/VTSMIS/_packaging/CCHP.VTS/npm/:username=VTSMIS
//pkgs.dev.azure.com/VTSMIS/_packaging/CCHP.VTS/npm/:_password=MnVnN21zYnUzM3ZyaTdxNGFpNGJ1aHJzdHR4ZGFoZnBqdWhlcXd5N3dkMjJyY2h3eGI1YQ==
//pkgs.dev.azure.com/VTSMIS/_packaging/CCHP.VTS/npm/:email=npm requires email to be set but doesn't use the value
; end auth token